{% extends "base.html" %}
{% block title %}Album Store{% endblock title %}
{% block content %}
<br>
<a href="{% url "album_manager:add_album" %}" class="btn btn-primary">Crear Álbum</a>
<p></p>
<div class="card-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for album in albums %}
        <div class="card" style="flex: 1 1 calc(33.333% - 20px); max-width: 300px; margin: 10px;">
            <img src="{{ album.picture.url }}" alt="{{ album.title }}" style="width: 100%; height: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ album.title }}</h5>
                <p class="card-text"><strong>Genero: </strong>{{ album.get_gender_display }}</p>
                <p class="card-text"><strong>Artista: </strong>
                    {% if album.artist %}
                        {{ album.artist.first_name }} {{ album.artist.last_name }}
                    {% else %}
                        No tiene un artista registrado
                    {% endif %}
                </p>
                <a href="{% url 'album_manager:album' album.id %}" class="btn btn-primary">
                    <i class="fa-solid fa-eye"></i>
                </a>
                <a href="{% url 'album_manager:edit_album' album.id %}" class="btn btn-info">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                <a href="{% url 'album_manager:delete_album' album.id %}" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
